<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.hangouts.hypnosture">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/spinal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hypnosture"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExercisesActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".USER.Signup_Screen" />
        <activity android:name=".HistoryGallery" />
        <activity android:name=".USER.MainActivity" />
        <activity android:name=".USER.ChangingPassword" />
        <!--
            <activity
            android:name=".AdminUpdate"
            android:label=" " />
        -->
        <!-- <activity android:name=".BarChartActivity" /> -->
        <activity android:name=".ETExercise" />
        <activity android:name=".SideTiltExercise" />
        <activity android:name=".headShakeActivity" />
        <activity android:name=".UpdownExerciseActivity" />
        <activity
            android:name=".Activity_PerformanceStat"
            android:label="@string/act_perstat" />
        <activity
            android:name=".Activity_Profile"
            android:label="@string/act_profile" />
        <activity
            android:name=".Activity_Recommendations"
            android:label="@string/act_recom" />
        <activity
            android:name=".Activity_Snorepage"
            android:label="@string/act_snore" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/act_setting" />
        <activity
            android:name=".SnoreTrackActivity"
            android:label="@string/act_snore" />
        <activity
            android:name=".Activity_Homescreen"
            android:label="@string/nav_home" />
        <!--
        <activity
            android:name=".DisplayProfile"
            android:label=" " />
        <activity android:name=".AdminCreate" />
        -->
        <activity android:name=".ADMIN.AdminAngle" />
        <activity android:name=".USER.UpdateProfile" />
        <activity android:name=".UserAdmin" />
        <activity
            android:name=".USER.UserProfile"
            android:label=" " />
        <activity android:name=".ADMIN.UsersActivity" />
        <activity android:name=".ADMIN.VerifiedAdmin" />
        <activity android:name=".ADMIN.AdminLogin" />
        <activity android:name=".ADMIN.AdminSignup_Screen" />
        <activity android:name=".ADMIN.AdminProfile" />
        <activity android:name=".ADMIN.AdminChangePassword" />
        <activity android:name=".ADMIN.AdminUpdateProfile"></activity>
    </application>

</manifest>